<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nexus | 创建部门</title>
    <style>
        body{
            background: #6666cd;
            text-align: center;
        }
        h2{
            font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            color: white;
        }

    </style>
</head>
<body>
    <form method="post" action="/pud">
        <h2>请输入root（老板账户）密码</h2>
        <input type="password" name="root_password">
        <h2>请输入部门名字（id自动分配）</h2>
        <input type="text" name="department_name">
        <button type="submit">确定！</button>
    </form>
</body>
</html>